<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :imageUrl %><br />
    <%= f.text_field :imageUrl %>
  </div>
  <div class="field">
    <%= f.label :battingOrientation %><br />
    <%= f.text_field :battingOrientation %>
  </div>
  <div class="field">
    <%= f.label :bowlingOrientation %><br />
    <%= f.text_field :bowlingOrientation %>
  </div>
  <div class="field">
    <%= f.label :isWicketkeeper %><br />
    <%= f.check_box :isWicketkeeper %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
